<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Housekeeper Profile</title>
</head>
<body>
    <div class="top_nav">
        <!-- checking to see if login-ed user is same as the one visiting the profile to show update link -->
        {%if housekeeper.id == session['user_id']%}
        <a href="/housekeeper_profile/{{housekeeper.id}}/profile/show_edit">Update Profile</a>
        {%endif%}
        <!-- <a href="">Add a Review</a> -->
        {%if 'user_id' in session%}
        <a href="/logout">Logout</a>
        {%endif%}
    </div>
    <div class="housekeeper_profile_container">
        <table>
            <tr>
                <td><img src="{{ url_for('static', filename='photos/uploads/') }}{{housekeeper.photo}}" alt="" width="150" height="150"></td>
                <td>{{housekeeper.first_name}} {{housekeeper.last_name}} <br>
                    Rate: ${{housekeeper.rate}} / h <br>
                    Zip Code: {{housekeeper.zip_code}} <br>
                    Email: {{housekeeper.email}} <br>
                    Phone Number: {{housekeeper.phone_number}} <br>
                </td>
                <td style="white-space: nowrap;">
                    Skills: <br>
                    {%for skill in housekeeper_skills%}
                    {{skill.skill_name}} <br>
                    {%endfor%}
                </td>
            </tr>
            <tr>
                <td>
                    Specialized in
                    {%if housekeeper.home == 1%}
                        residential,
                    {%endif%}
                    {%if housekeeper.office == 1%}
                        commercial,
                    {%endif%}
                    {%if housekeeper.deep_cleaning == 1%}
                        deep cleaning,
                    {%endif%}
                    {%if housekeeper.same_day_cleaning == 1%}
                        same_day_cleaning
                    {%endif%}
                </td>
            </tr>

            <tr>
                <td>
                    Hello, my name is {{housekeeper.first_name}},
                </td>
            </tr>
            <tr>
                <td>
                    {{housekeeper.description}}
                </td>
            </tr>
        </table>
    <!-- <h4>Clients feedback:</h4> -->
    </div>
</body>
</html>