<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find your Housekeeper</title>
</head>
<body>
    <div>
        <a href="/create">Become a Housekeeper</a>
        <a href="/create">Already a member</a>
    </div>
    <form action="/cleaning_services">
        <img src="" alt="housekeeper">
        <button type="submit">Find your Housekeeper</button>
    </form>
</body>
</html>