<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Find your Housekeeper</title>
</head>
<body>
    <div class="top_nav">
        <a href="/">Home</a>
    </div>
    <h2 class="text-center">Help us choose what cleaning services you like!</h2>
    <div style="color:red; background-color: rgb(247,214,216); ">
        {% with messages = get_flashed_messages(category_filter=["search_cleaning_services"]) %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <form class="align_center" action="/cleaning_services_search_results" method="post">
        <div class="form-group">
            <label for="rate">Rate : (Per Hour)</label>
            <select class="form-control col-md-4" value="rate" name="rate" id="exampleFormControlSelect1">
            <option value=""></option>
            <option value="500"> Less than $500</option>
            <option value="100"> Less than $100</option>
            <option value="80"> Less than $80</option>
            <option value="60"> Less than $60</option>
            <option value="50"> Less than $50</option>
            <option value="30"> Less than $30</option>
            </select>
        </div>
        <div>
            <label for="">Service Type:</label><br>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="home" value="home_is_selected">
                <label class="form-check-label" for="home" >Residential Cleaning</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="office" value="office_is_selected">
                <label class="form-check-label" for="office">Commercial Cleaning</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="deep_cleaning" value="deep_cleaning_is_selected">
                <label class="form-check-label" for="deep_cleaning">Deep Cleaning</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="same_day_cleaning" value="same_day_cleaning_is_selected">
                <label class="form-check-label" for="same_day_cleaning">Same Day Cleaning</label>
            </div>
        </div>
        </div>
        <p>

        </p>
        <div class="form-group">
            <label for="zip_code">Zip Code: </label>
            <input type="text" name="zip_code" class="form-control col-md-4" id="exampleFormControlInput1">
        </div>
        <button type="submit">Find</button>
        </form>
    <div class="align_center">
        <table>
            {%for user in housekeepers%}
            <tr>
                <td>
                    <a href="/housekeeper_profile/{{user.id}}"><img src="{{ url_for('static', filename='photos/uploads/') }}{{user.photo}}" alt="" width="100" height="100"></a>
                </td>
                <td>
                    Name: {{user.first_name}} {{user.last_name}}<br>
                    Rate: $ {{user.rate}}<br>
                    Specialized in 
                        {%if user.home ==1%}
                            residential,
                        {%endif%}
                        {%if user.office ==1%}
                            commercial,
                        {%endif%}
                        {%if user.deep_cleaning ==1%}
                            deep cleaning,
                        {%endif%}
                        {%if user.same_day_cleaning ==1%}
                            same day cleaning
                        {%endif%}
                </td>
            </tr>
            {%endfor%}
        </table>
    </div>
</body>
</html>